/* sporting font */
@font-face {
  font-family: sporting;
  src: url(font/Sporting_Grotesque-Regular_web.ttf);
}

@font-face {
  font-family: sporting;
  src: url(font/SportingGrotesque-Bold.otf);
  font-weight: bold;
}

/* prompt font */
@font-face {
  font-family: prompt;
  src: url(font/Prompt-Light.ttf);
}

@font-face {
  font-family: prompt;
  src: url(font/Prompt-Medium.ttf);
  font-weight: bold;
}

body {
  font-family: sporting;
}

.link>a {
  text-decoration: none;
  color: black;
}

.link>a:hover {
  color: lightgrey;
}

.links {
  text-decoration: none;
  color: black;
}

.links:hover {
  color: lightgrey;
}

/* menu */
.toppino {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.toppino>div {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
}

#mono {
  height: 80px;
}

.bottomino {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.bottomino>div {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
}

/* contenuti home */
.intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 83%;
  z-index: -1;
  max-width: 825px;
}

#hey {
  font-size: 60px;
}

#itsme {
  font-size: 20px;
  font-family: prompt;
}

#lovetea {
  font-size: 15px;
  font-family: prompt;
}

.texts {
  font-size: 17px;
  font-family: prompt;
  text-align: center;
}

.titles {
  font-size: 60px;
  font-family: sporting;
  text-align: center;
}

/* contenuti info */
#container {
  width: 100%;
  height: 500px;
}

/* contenuti contact */
iframe {
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
}

#aboutme {
  font-size: 17px;
  font-family: prompt;
  text-align: left;
}

.aboutabout {
  display: flex;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.titleini {
  font-size: 50px;
  text-align: center;
}

input[type=text], input[type=url], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: prompt;
  border: 1px solid black;
  border-radius: 10px;
}

input[type=button] {
  background-color: white;
  text-decoration: none;
  font-family: sporting;
  padding: 5px 5px 0px 5px;
  color: black;
  font-size: 2em;
  border: solid 2px;
  border-radius: 50px;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: prompt;
  border: 1px solid black;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  #noname {
    display: none;
  }
  #parent {
    display: flex;
    flex-flow: column;
  }
  #a{order:2;}
  #b{order:1;}
}

/* contenuti work */
.cvpf {
  text-decoration: underline;
  color: black;
}

.cvpf:hover {
  color: lightgrey;
}

#cvpage {
  width: 100%;
  max-width: 600px;
}

.pfcolz {
  padding: 50px;
}

.pfpics {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfname {
  font-family: prompt;
  text-align: center;
  font-size: 20px;
  padding-top: 15px;
}

.pfcategory {
  font-family: prompt;
  text-align: center;
  font-size: 15px;
}

.pfdescription {
  font-family: prompt;
  text-align: center;
  font-size: 17px;
}

.pfphotocontent {
  padding: 30px;
}

.button {
  text-decoration: none;
  font-family: sporting;
  padding: 18px 5px 0px 5px;
  color: black;
  font-size: 2em;
  border: solid 2px;
  border-radius: 50px;
}

.coverspics {
  padding-right: 10px;
  padding-top: 10px;
}
